################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Admin/bin/Debug
*.suo
/Admin/obj/Debug
*.csproj
*.config
/NP_1/bin/Debug
/NP_1/obj/Debug
/User/bin/Debug
/User/obj/Debug
*.sln
/packages/System.Security.Principal.Windows.5.0.0/version.txt
/packages/System.Security.Principal.Windows.5.0.0/useSharedDesignerContext.txt
/packages/System.Security.Principal.Windows.5.0.0/THIRD-PARTY-NOTICES.TXT
/packages/System.Security.Principal.Windows.5.0.0/System.Security.Principal.Windows.5.0.0.nupkg
/packages/System.Security.Principal.Windows.5.0.0/LICENSE.TXT
/packages/System.Security.Principal.Windows.5.0.0/Icon.png
/packages/System.Security.Principal.Windows.5.0.0/.signature.p7s
/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib/uap10.0.16299/_._
/packages/System.Security.Principal.Windows.5.0.0/runtimes/win/lib
/packages/System.Security.Principal.Windows.5.0.0/runtimes/unix/lib
/packages/System.Security.Principal.Windows.5.0.0/ref
/packages/System.Security.Principal.Windows.5.0.0/lib
/packages/System.Security.Permissions.5.0.0/ref
/packages/System.Security.Permissions.5.0.0
/packages/System.Security.AccessControl.5.0.0
/packages/System.Configuration.ConfigurationManager.5.0.0
/call.txt
/cus.txt
/RepList.txt
/Tech.txt
/str1.txt
